@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Supreme Variable";
  src: url("/fonts/Supreme-Variable.ttf") format("truetype");
}

body {
  overflow: hidden;
  font-family: "Supreme Variable", sans-serif;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.slide-up {
  animation: slideUp 0.2s ease backwards;
}

.slide-down {
  animation: slideDown 0.2s ease forwards;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
